
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

:root {
  --text-color: #000000;
}

.text-color {
  color: var(--text-color);
}

.active {
  background-color: #3b82f6;
  color: white;
}

li.active svg {
  color: white;
}

li {
  position: relative;
}

@media (min-width: 768px) { .w-md-50 { width: 50% !important; } }
